/* body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
}

header h1 {
	margin: 0;
}

header h1 span {
	color: #ffcc00;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	background-color: #f2f2f2;
	padding: 2rem;
	text-align: center;
}

main h2 {
	margin: 0;
	margin-bottom: 0.5rem;
}

main p {
	margin: 0;
	font-size: 0.8rem;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
} */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --background-color: #ffe5e5;
  --primer-color: #5d12d2;
  --segundo-color: #b931fc;
  --tercer-color: #ff6ac2;
  --cuarto-color: #000000;
  --quinto-color:#dfb2f4;
  --sexto-color: #09104F;
  --primary-font: "Kanit", sans-serif;
  /* font-weight: 800; */
  /* font-style: normal; */
  --second-font: "Kanit", sans-serif;
  /* font-weight: 200; */
  /* font-style: normal; */
  --tercer-font:"Josefin Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(#ffe5e5);
  font-family: var(--primary-font);
  background-image: url(./img/fondo-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
  
}
.contenedor1 {
  height: 600px;
  width: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  /* background-color: #fff; */
  /* box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4); */
}

.login {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  padding: 60px 20px 60px;
  background: var(--sexto-color);
  border-radius: 10px;
  display:grid;
  justify-content: center;
  
  }
  

h2 {
  text-align: center;
  color: var(--cuarto-color);
  font-family: var(--primary-font);
  font-size: 3rem;
  padding: 3px;
  text-shadow: 2px 2px 1px var(--tercer-color);
  animation: myAnim 2s ease 0s 1 normal forwards;
}

label {
  color: var(--quinto-color);
  font-size: 20px;
  font-family: var(--tercer-font);
  font-weight: lighter;
  
}

#Uname {
  width: 300px;
  height: 30px;
  border: none;
  /* border-radius: 3px; */
  padding-left: 8px;
}
#username {
  width: 300px;
  height: 25px;
  border-radius: none;
  background-color: #ffe5e5;
}
#Pass {
  width: 300px;
  height: 50px;
  border: none;
  /* border-radius: 3px; */
  padding-left: 8px;
  
}
#password {
  width: 300px;
  height: 25px;
  border-radius: none;
  background-color: #ffe5e5;
  
}
#log {
  width: 310px;
  height: 50px;
  border: none;
  border-radius: 29px;
  padding-left: 7px;
  color: var(--tercer-color);
  font-family: var(--primary-font);
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
}

span {
  color: white;
  font-size: 17px;
}

a {
  float: right;
  background-color: grey;
}
#log:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  color: #fff;
  background-color: #ff6ac2;
  box-shadow: 5px 5px  var(--background-color);
  cursor: pointer;
  
}
#iconoReproductor {
  display: grid;
  justify-content: center;
  padding-top: 30px;
  
}
/* Animacion del texto "Login Page", etiqueta h2 */
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}